    <h1 class="jumbotron text-center">Bienvenido al area de administración de AirTiquicia</h1>


<div class="container d-flex flex justify-content-sm-between">
   <div class="card m-3" style="width: 18rem;">
  <img class="card-img-top" src="/Content/Images/aeropuertos.jpg" alt="Terminal Aeropuerto">
  <div class="card-body">
    <h5 class="card-title text-warning">Administrar Aeropuertos</h5>
    <p class="card-text">Desde esta area podrá ver los aeropuertos desde donde opera AirTiquicia así como ingresar nuevos, editar o eliminar</p>
    <a href="/Admin/Aeropuertos" class="btn btn-primary text-center">Ver Aeropuertos</a>
  </div>
  </div>



   <div class="card m-3" style="width: 18rem;">
  <img class="card-img-top" src="/Content/Images/aviones.jpg" alt="Avión en vuelo">
  <div class="card-body">
    <h5 class="card-title text-warning">Administrar Flotilla</h5>
    <p class="card-text">Desde esta area podrá ver la flotilla actual con la que cuenta Airtiquicia así como ingresar nuevos, editar o eliminar.</p>
    <a href="/Admin/Aviones" class="btn btn-primary text-center">Ver Flotilla</a>
  </div>
  </div>


   <div class="card m-3" style="width: 18rem;">
  <img class="card-img-top" src="/Content/Images/vuelos.jpg" alt="Itinerarios de vuelo">
  <div class="card-body">
    <h5 class="card-title text-warning">Administrar Vuelos</h5>
    <p class="card-text">Desde esta area podrá ver los vuelos programados por Airtiquicia así como ingresar nuevos, editar o eliminar..</p>
    <a href="/Admin/Vuelos" class="btn btn-primary text-center">Ver Vuelos</a>
  </div>

</div>

</div>
